section{
	float:left;
}
aside {
  background-color: lightgray;
  float: right;
  width: 28.33%;
  padding: 10px;
  margin-top: 3.5%;
  margin-right: 2.5%;
}
p{
	font-family:Arial;
	font-size: 12px;
	padding: 0px;
    margin: 0px;
}
h3{
	font-family:Arial;
	padding: 0px;
    margin: 0px;
}
nav{
	  background-color: black;
	  text-align:center;
}
header nav{
	color: white;
	padding: 5px;
	font-size: 14px;
}
footer nav{
	color: gray;
	padding: 14px;
	font-size: 10px;
}
footer {
  clear: both;
  width: 100%;
  height: 2.5rem;            
}
a{
    color: inherit;
    text-decoration: none;
    font-family: Arial;
}
a:hover {
  color: #d1de44;
}
#hero{
	background-color: gray;
}
#heroPad{
	padding-top: 10px;
    padding-bottom: 10px;
}
#heroImg {
        display:block;
        margin-left: auto;
        margin-right: auto;
        border: 1px solid white;
        width: 90%;
}

#articles{
	width: 66%;
}
.article{
float: left;
  width: 40%;
  padding: 5%;

}
.articleContent{  
	width: 100%;
}
#sideTitle{
	text-align: center;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}


